mat-toolbar {
  background-color: #36096d;
  background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
}
mat-sidenav {
  margin: 16px;
  width: 245px;
  border-right: none;
  background: #002b5c;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}
.menu-button {
  display: block !important;
  margin-bottom: 5px;
  color: #37d5d6 !important;
}

.content {
  min-height: -webkit-fill-available;
  border-radius: 10px;
  margin: 16px;
  margin-right: 32px;
  font-size: 24px;
  color: #541e97;
}

mat-sidenav-container {
  height: calc(100vh - 100px);
}
.text-left {
  text-align: left !important;
  font-weight: bold;
  font-size: 19px;
  font-weight: 300;
}
mat-divider {
  background-color: rgb(235, 221, 221) !important;
}
.active-link {
  color: #fff;
  background-color: rgb(255, 88, 88);
}
